*{
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}



body {
    font-family: 'Raleway', sans-serif;
}
h1{
   
    font-family: 'Roboto Mono';
    font-size: medium;
    padding-bottom: 1rem;
}
/*Search btn*/

.container{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search input{
    display: none;
    background-color: transparent;
    border: 0;
    font-size: 14px;
    height: auto;
    width: 100%;
    transition: 0.3s ease;
    caret-color: black;
    outline: none; 
}
.btn1{
    background-color: transparent; 
    border: 0;
    cursor: pointer;
    font-size: 1.5rem;
    height: 1.5rem;
    width: auto;
    margin-right: 2rem;
    transition: transform 0.3s ease;
}

.btn1:focus,
.input:focus{
    outline: none;
}
.search.active input{
    width:100%;
    display: block;
}
.search.active .btn1{
    transform: translate(-198px);
}

/*Shopping cart*/

.cart{
    display: flex;
    padding: 7px 10px;
    align-items: center;
}

.user,
.like{
    margin-right: 2rem;
    font-size: 1.5rem;
}
.user,
.like:hover{
    cursor: pointer;
}

.bag{
    background-color: transparent;
    border: 0 ;
    font-size: 1.3rem;
    cursor: pointer;
}

.bag i::after{
    content: '0';
    font-size: 9px;
    width: 15px;
    display: inline-block;
    text-align: center;
    position: relative;
    top: -20px;
    right: 20%;
    border-radius: 4rem;
}
.container1{
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}
.sidebar{
    width: 17%;
    height: 260px;
    border-radius: 5px;
    background-color: rgb(252, 252, 252);
    margin-left: 74.5rem;
    padding: 15px;
    text-align: center;
    backdrop-filter: blur(7px) ;
    background-color: rgba(255, 255, 255, 0.20);
    border-radius: 16px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
}
.hide{
    display: none;
}

.calcul{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 10px 0px;
    border-top: 1px solid #000000;
}

/*Logo*/

.logo {
    display: flex;
    height: auto;
    max-width: 15rem;
    align-items: center;
    text-align: center;
}
.logo img {
    display: flex;
    height: auto;
    max-width: 15rem;
    margin-left: 1rem;
}


/*nav bar*/

nav {
    position: fixed;
    width: 100%;
    z-index: 100000; 
    top: 0;
    padding-top: 2rem;
    transition: 0.6s;
}

.sticky{
    background-color: #fff;
    position: fixed;
    box-shadow: 0px 0px 10px rgb(0 0 0/10%);
    top: 0;
}
nav ul {
    list-style: none;
    text-align: center;
    height: auto;
}

nav li {
    display: inline-block;
    margin-right: 3rem;
}

li a {
    color: black;
    text-decoration: none;
    float: none;
    opacity: 0.80;
}

li a:hover {
    opacity: 2;
}

/*Sub nav bar*/

.subnav{
    display: none;
    position: absolute;
    width: 100%;
    height: auto;   
    left: 0;
    top: 4rem;
    padding: 25px 20px;
}
.subnav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    margin-left: 5rem;
}
.subnav ul li a{
   display: flex;
   justify-content: center;
   align-items: center;
   max-width: 100%;
   height: auto;
   padding: 10px 15px;
}

.content:hover {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;  
}
.productsPic {
    display: flex;
    justify-content: space-around;
    padding: 10px 15px;

}

.productsPic img {
    display: flex;
    margin-top: 3rem;
    max-width: 50%;
    height: auto;
    object-fit: cover;
    padding: 10px 15px;

}
nav ul li:hover .subnav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 2rem;
    background-color: #fff;
    transition: all 0.6s ease;
}

nav ul li:hover .subnav ul li{
    display: block;
    width: 100%;
    padding: 5px;
    background: transparent;
}

/* nav ul li:hover .subnav1 {
    display: block;
    position: absolute;
    background-color: white;
  
}
.subnav1 ul {
    padding: 0px;
}
nav ul li:hover .subnav1 ul li{
    display: block;
    width: 100%;
    padding: 5px;
    background: transparent;
} */

/*main */

.sectionOne {
    display: flex;
    background: url("img/1621541260-mixedcuff-thumb.jpg") no-repeat center center/cover;
    /* border-radius: 15px; */
    height: 100vh;
    width: 100%;
    margin-top: 6rem;
}

.art1 {
    width: fit-content;
    margin: auto;
    margin-bottom: 2rem;
    transform: translateX(15deg);
    transition: 2s;
}

/*div*/

.div{
    margin-top: 55px;
}

.div h2{
    text-align: center;
    font-size: 20px;
}

.div p{
    text-align: center;
    font-size: 15px;
}
    

/*templates*/

.art {
    display: flex;
    justify-content: center;
    align-content: center;

}

.sectionTwo {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    align-content: center;

}

.template {
    background-color: rgb(240, 247, 246);
    width: 14.8rem;
    height: 10rem;
}

.template img {
    display: flex;
    align-content: center;
    margin-bottom: 10px;
}

.template a{
    margin-left: 5rem;
    color: black;
    text-decoration: none;
    opacity: 0.75;

}
.template a:hover{
    opacity: 1;

}

/*footer*/

footer{
    border-top: 1px solid black;
    margin-top: 5rem;
}

.contactArea{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}

.about li{
    display: inline-block;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;

}
.about a{
    color: black;
    font-size: medium;
    opacity: 0.75;
    
}
.about a:hover{
    cursor: pointer;
    opacity: 1;
}

.containerFooter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    padding-top: 1rem;
    
}
.containerFooter p{
    font-family: 'Roboto Mono';
    font-size: small;
}
.containerFooter p i{
    font-size: x-small;
    margin-right: 0.3rem;
}
.social{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.social li {
    display: inline-block;
    font-size: 2rem;
    transition: 0.5s;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 1rem;
}

.social li:hover{
    transform: translate(10px);
}
footer img {
    width: 10rem;
    height: auto;
}


/*Bracelets page*/
.Bracelet{
    background-color: palevioletred;
}
h2{
    text-align: center;
    font-size: 25px;
}

.Bracelet-pic{
    height: 89rem;
    background-color: #0d8348;
}
.Div1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  
}
#pic2{
    height: 350px;

}
.item1{
    border: 1px solid black;

}
.item1 p{
    margin-top: 5px;
    text-align: center;
    height: 20px;
    background-color: aqua;
}

.item1 button{
    font-size: 15px;
    margin-left: 95px;
    margin-bottom: 5px;
    
}
.item1 button:hover{
    background-color: #81d8d0;
}