*{
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

 /*Header*/

.info-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(60, 56, 56);
    overflow: hidden;
    height: 3rem;
    right: 0;
    left: 0;
    max-width: 100%;
}
.info-box p{
    font-size: small;
    color: white;
    white-space: nowrap;
    animation: slideIn 10s linear infinite;
}

@keyframes slideIn {
    0%{
      transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}


body {
    font-family: 'Roboto Mono';
    scroll-behavior: smooth;
    overflow-x: hidden;
}


h1{
    font-family: 'Roboto Mono';
    font-size: medium;
    font-weight: bold;
    width: 100%;
}

/*Navigation*/

.container{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}
.content{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    left: 0;
    right: 0;
}

/*Humburgericon*/

.humburgerIcon{
    visibility: hidden;
    display: flex;
    font-size: 30px;
    left: 0;
    cursor: pointer;
}

/*close icon*/

.closeIcon{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.close{
    visibility: hidden;
    width: 90%;
    position: absolute;
    font-size: 25px;
    opacity: 0.5;
    cursor: pointer;
    top: 1rem;
    z-index: 1;
}

/*Logo*/

.logo {
    display: flex;
    align-items: center;
    height: auto;
    max-width: 100%;
}
.logo img {
    height: auto;
    max-width: 15rem;
}

/*nav bar*/

nav {
    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 1; 
    position: relative;
    padding : 0px 5px;
}


.sticky{
    background-color: #fff;
    position: fixed;
    box-shadow: 0px 0px 10px rgb(0 0 0/10%);
    top: 0;
    z-index: 2;
}


nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: auto;
    align-items: stretch;
    list-style: none;
    text-align: center;
    padding: 0px 0px ;
}

li {
    padding: 25px 5px ;
}

li a {
    color: black;
    text-decoration: none;
    float: none;
    opacity: 0.80;
}

li a:hover {
    opacity: 1;
}

/*Sub nav bar*/

.subnav{
    position: absolute;
    width: 100%;
    height: 0;
    opacity: 0;
    left: 0;
    visibility: hidden;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
}

.subnav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: auto;
}
.subnav ul li a{
   display: flex;
   justify-content: center;
   align-items: center;
   max-width: 100%;
   height: auto;
   padding: 5px 15px;
}

nav ul li:hover .subnav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    backdrop-filter: blur(7px) ;
    background-color: rgba(255, 255, 255, 0.20);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    height: 400px;
    top: 98%;
    opacity: 1;
    visibility: visible;
}

nav ul li:hover .subnav ul li{
    display: inline;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 5px;
    margin-top: 0;
    margin-right: 0.5rem;
}


.subnav .line{
    display: flex;
    border-left: 1px solid black;
    height: 30%;
    position:absolute;
    left: 27%;
    margin-top: 3rem;
}

.productsPic {
    display: flex;
    justify-content: space-between;
    object-fit: cover;
}

.productsPic img {
    display: flex;
    margin-right: 5rem;
    width: 100%;
    height: auto;
    object-fit: cover;
}
.forwardSign{
    visibility: hidden;
    position: absolute;
    display: inline-flex;
    width: 50%;
    margin-top: 0.3rem;
    opacity: 0.5;
}
.SignWeeding{
    visibility: hidden;
    position: absolute;
    display: inline-flex;
    width: 30%;
    margin-top: 0.3rem;
    opacity: 0.5;
}

/*Search area*/

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 30px;
    padding: 5px 15px; 
}

.search input{
    background-color: transparent;
    border: 0;
    outline: none;
    font-size: small;
    width: 0;
    transition: 0.8s ease-in-out;
    padding: 5px 15px;
    visibility: hidden;
}
.search ::placeholder{
    color: black;
}
.search:hover input{
    width: 150px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    border: 1px solid black;
    color: black;
    visibility: visible;
}
.bnt1{
    position: relative;
    font-size: 1.4rem;
    right: 0;
}
.bnt1::before{
    content: "";
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 60%; 
    height: 60%; 
    background-color: transparent; 
    border-radius: 50%;
    z-index: -1;
    transition: background-color 0.3s ease-in-out;
}
.bnt1:hover::before{
    background-color: #bcb5ae;
}



/*Icons*/

.cart{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
    margin-right: 1rem;
}
.wishlist-icon{
    display: flex;
    width: 70%;
    position: sticky;
}

.user,
.like{
    margin-right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    position: relative;
    z-index: 1;
}
.user::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%; 
    height: 70%; 
    background-color: transparent; 
    border-radius: 50%;
    z-index: -1;
    transition: background-color 0.3s ease-in-out;
    
}
.user:hover::before{
    background-color: #bcb5ae;

}
.like::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%; 
    height: 70%; 
    background-color: transparent; 
    border-radius: 50%;
    z-index: -1;
    transition: background-color 0.3s ease-in-out;
}
.like:hover::before{
    background-color: #bcb5ae;
}
.point{
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    bottom: 75%;
    right: 0.2rem;
    visibility: hidden;
}
.bag-icon{
    display: flex;
    width: 100%;
    position: sticky;
}

.bag{
    border: 0 ;
    font-size: 1.3rem;
    cursor: pointer;
    position: relative;
    z-index: 1;
    height: 2rem;
}

.bag::before{
    content: "";
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 72%; 
    height: 35%; 
    background-color: black; 
    border-radius: 5%;
    z-index: -1;
    transition: background-color 0.3s ease-in-out;
}
.bag:hover::before{
    background-color: #bcb5ae; 

}

.sticky .bag:hover::before  {
    background-color: #bcb5ae; 
  }

#count{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12px;
    height: 12px;
    font-size: 10px;
    font-weight: bolder;
    border-radius: 50%;
    position: absolute;
    bottom: 70%;
    right: -0.3rem;
}

/*LOGIN Form*/

.form-box {
    backdrop-filter: blur(7px) ;
    background-color: rgba(255, 255, 255, 0.20);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1); 
    position: absolute;
    z-index: 2;
    width: 100%;
    height:0;
    left: 0;
    top: 100%;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
}

.login-container:hover .form-box{
    height: 500px;
}

.form-box h1 {
    text-align: center;
    font-size: larger;
    color: black;
    margin-top: 2rem;
    width: 100%;
}

form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 500px;
}
.loginPic{
    display: flex;
    justify-content: space-between;
}
.loginPic img{
    display: flex;
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.sign-in {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 500px;
}

.inputArea span{
    position: absolute;
    color: red;
    font-size: small;
    font-weight: bold;
    width: 30%;
    max-height: 60px;
    margin-right: 2rem;
    margin-top: 2.6rem;
    margin-bottom: 1rem;
    visibility: hidden;
}


.inputArea{
    display: flex;
    justify-content: center;
    width: 50%;
    max-height: 60px;
    margin-top: 1rem;
    transition: max-height 0.5s;
}
.inputArea ion-icon{
    position: absolute;
    margin-left: 28rem;
    margin-top: 0.7rem;
    align-items: center;
    max-height: 60px;
    font-size: 20px;
    visibility: hidden;
}


.inputArea.success input{
    border-color: green;
}

.inputArea.error input{
    border-color: red;
}

.inputArea.success .checkmark-circle{
    visibility: visible;
    color: #0d8348;
}
.inputArea.error .alert-circle{
    visibility: visible;
    color: red;
}

.inputArea.error span{
    visibility: visible;
}

input {
    width: 100%;
    background: transparent;
    background-color: #3d3d3d;
    padding: 10px 35px;
    border-color: #3d3d3d;
    font-size: medium;
    color: white;
    outline: none;
    border-radius: 10px;
}


.btn- #signupBtn{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 5px 25px;
    opacity: 0.7;
}
.btn- #signupBtn:hover{
    opacity: 1;
}
.btn- #signinBtn{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px 25px;
    opacity: 0.7;
}
.btn- #signinBtn:hover{
    opacity: 1;
}
.btn-{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    height: auto;
}
.btn- button {
    text-align: center;
    color: black;
    background-color: #d9b99b;
    font-size: medium;
    width: 100%;
    border: 0;
    outline: 0;
    cursor: pointer;
    margin-top: 2rem;
    transition: background-color 1s;
}

.btn- button.disable{
    background-color: #fff;
    color: black;
}


.Register{
    padding: 10px 20px;
    opacity: 0.7;
}
.Register input{
    text-align: center;
    background-color: #fff;
    color: black;
    font-size: medium;
    border: 0;
    outline: 0;
    cursor: pointer;
    padding: 5px 25px;
    border-radius: 10px;
    margin-bottom: 2rem;
    transition: background-color 1s;
}

#RegisterBtn:hover{
    color: black;
    background-color: #d9b99b;
    opacity: 1;

}

.option {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin-top: 2rem;
}

.needHelp a{
    position: relative;
    text-decoration: none;
    color: black;
    font-size: small;

}
.needHelp a:after {
    content: "";
    position: absolute;
    background-color: black;
    font-size: small;
    height: 1px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.3s;

}

.needHelp a:hover:after {
    width: 100%;
}

.check {
    display: flex;
    white-space: nowrap;
}
.check input{
    accent-color: #d9b99b;
}

label {
    font-size: small;
    color: black;
    margin-left: 1rem;
}

.parag p {
    width: 30rem;
    margin-top: 1rem;
    font-size: small;
    color: #3d3d3d;

}

.alert{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100vh;
    left: 0;
    backdrop-filter: blur(7px) ;
    background-color: rgba(255, 255, 255, 0.20);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1); 
    visibility: hidden;
}

.msg-alert{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.908);
    border-radius: 10px;
    width: 30%;
    height: 200px;
    margin-bottom: 18rem;

}
.check-icon{
    font-size: 150px;
    color: green;
}


.learn {
    font-size: small;
    color: black;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    text-decoration: none;
}

.learn:after{
    content: "";
    position: absolute;
    background-color: black;
    font-size: small;
    height: 1px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}
.learn:hover:after {
    width: 100%;
}


 /*wishlist*/

.sidebar-container .Bar{
    backdrop-filter: blur(7px) ;
    background-color: rgba(255, 255, 255, 0.20);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1); 
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;  
    z-index: 1;
    width: 30%;
    right: 0.5rem;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
}
.wishlist-container:hover .Bar{
    height: 650px;
    overflow: auto;
}
.wishlist-container:hover .Bar::-webkit-scrollbar{
    width: 0;
}

/*cart-container*/

.cart-container:hover .Bar{
    height: 600px;
    overflow: auto;
}
.cart-container:hover .Bar::-webkit-scrollbar{
    width: 0;
}
.Bar h1{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.checkout-btn{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    bottom: 0;
    top: 100%;
    position: sticky;
}

.checkout-btn button{
    width: 100%;
    height: 2.5rem;
    border: 0;
    background-color: #d9b99b;
    font-size: 15px;
    opacity: 0.8;
}
.checkout-btn button:hover{
    opacity: 1;
}

/*background image */

.background-pic{
    display: flex;
    justify-content: center;
    position: relative;
}

.background-img{
    height: auto;
    max-width: 100%;
}
/*Articles*/

.articles{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;  
    margin-top: 2rem;
}
.article article{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
}
.article img{
    max-width: 100%;
    height: 100vh;
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    max-width: 50%;
    height: auto;
}
.info p{
    padding: 20px;
    text-align: center;
}
.info h1{
    text-align: center;
}

.info button{
    text-align: center;
    color: black;
    background-color: #d9b99b;
    font-size: medium;
    border: 0;
    outline: 0;
    cursor: pointer;
    padding: 5px 25px;
    border-radius: 10px;
    margin-top: 0.5rem;
    opacity: 0.8;
}

.info button:hover{
    opacity: 1;
}


.art1 {
    width: fit-content;
    margin: auto;
    margin-bottom: 2rem;
    transform: translateX(15deg);
    transition: 2s;
}

/*Headings*/

.Heading{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
    max-width: 100%;
    height: auto;
}

.Heading h2{
    text-align: center;
    font-size: 25px;
}

.Heading p{
    text-align: center;
    font-size: medium;
}
.Heading button{
    text-align: center;
    color: black;
    background-color: #d9b99b;
    font-size: medium;
    border: 0;
    outline: 0;
    cursor: pointer;
    padding: 5px 25px;
    border-radius: 10px;
    margin-top: 1rem;
    opacity: 0.8;
}

.Heading button:hover{
    opacity: 1;
} 

/*templates*/

.pic-container{
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: auto;
    margin-top: 2rem;
}
.pic-container img{
    max-width: 100%;
    height: auto;
}
.Heading p{
    padding: 5px;
    width: 70%;
    margin-top: 0.5rem;
}

.sectionTwo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3rem;
    align-items: center;
}

.art {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
    margin-right: 1rem;
}

.TwoIn1{
    display: flex;
    flex-direction: row;
}

.template {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    height: auto;
}

.template img {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 340px;
    height: 340px;
}

.template a{
    position: relative;
    text-decoration: none;
    color: black;
    font-size: medium;
    opacity: 0.75;
    text-align: center;
    margin-top: 1rem;
}

.template a:hover{
    opacity: 1;
}

/*Video Area*/

.video-area{
    position: relative;
}
.video-loop{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    min-width: 100%;
    height: auto;
}
.more-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    z-index: 1;
    padding: 30px;
    position: absolute;
    top: 20rem;
    max-width: 70%;
    margin-left: 12rem;
}

.more-info h1,
.Heading h1{
    text-align: center;
    font-weight: lighter;
    font-size: larger;
    margin-bottom: 0.5rem;
}
.more-info p,
.Heading p{
    opacity: 0.8;
}
.more-info button,
.Heading button{
    text-align: center;
    color: black;
    background-color: transparent;
    font-size: medium;
    border: 1px solid black;
    outline: 0;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 1rem;
    opacity: 0.8;
    padding: 2px;
    width: 15%;
}

.more-info button:hover,
.Heading button:hover{
    background-color:#d9b99b;
    opacity: 1;
} 

/*Gifts Area*/

.Gift-area{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    height: 500px;
    margin-top: 3rem;
    background-color: rgb(241, 241, 237);
}

.Gift-area img{
    width: 50%;
    height: 500px;
}

/*footer*/

footer{
    border-top: 0.5px solid rgb(189, 179, 179);
    max-width: 100%;
    height: auto;
    margin-top: 3rem;
    margin-right: 1rem;
    margin-left: 1rem;
    padding-bottom: 3rem;
}

.containerFooter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    padding-top: 1rem;
}

.containerFooter p{
    font-family: 'Roboto Mono';
    font-size: small;
    margin-top: 0.5rem;
}
.containerFooter p i{
    font-size: x-small;
    margin-right: 0.3rem;
}

.social{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}

.social li {
    display: inline-block;
    font-size: 2rem;
    transition: 0.5s;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 1rem;
}

.social li:hover{
    transform: translateY(-10px);
}

.contactArea{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.about li{
    display: inline-block;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.about a{
    color: black;
    font-size: medium;
    opacity: 0.75;
}
.about a:hover{
    cursor: pointer;
    opacity: 1;
}

footer img {
    width: 10rem;
    height: auto;
}


/*Bracelets page*/

/*Cover image */

.Cover-area{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    height: auto;
    margin-top: 6rem;
}
.Cover-area img{
    max-width: 50%;
    height: 100%;
}
.info-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    max-width: 100%;
    height: 100%;
}
.info-area p{
    padding: 5px;
    text-align: center;
    font-weight: lighter;
    font-family: 'Roboto Mono';
    opacity: 0.8;
}
.info-area h1{
    text-align: center;
    font-weight: lighter;
    font-size: larger;
    margin-bottom: 1rem;

}
.thinLine{
    display: flex;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-right: 1rem;
    margin-left: 1rem;
    max-width: 100%;
    height: auto;
    border-top: 0.5px solid rgb(189, 179, 179);
}

/*Products*/

.Bracelet-pic{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    height: auto;
}
.Div1,
.Div2,
.Div3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;  
    width: 100%;
    height: auto;
}
.descPrice{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.item1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.item1 p{
    text-align: center;
    font-weight: lighter;
    margin-top: 0.5rem;
    opacity: 0.6;
}

.item1 button{
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: #fff;
    color: black;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    opacity: 0.8;
    transition: 0.5s;
}
.item1 button:hover{
    background-color: #d9b99b;
    color: black;
    opacity: 1;
    cursor: pointer;
}

.heartIcon{
    display: flex;
    justify-content: end;
}
.heart-icon{
    position: absolute;
    font-size: 25px;
    opacity: 0.5;
    margin-top: 0.5rem;
    margin-right: 1rem;
    transition: 0.2s;
    
}
.heart-icon:hover{
    opacity: 1;
    color: red;
    cursor: pointer;
}

#pic2{
    width: 340px;
    height: 340px;
}

/* cartlist & wishlist Div (classes from js)*/

.wishlist-item,
.cart-item{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 200px;
    width: auto;
    top: 0;
    margin-bottom: 2.5rem;
    border-bottom: #a09b9b 1px solid;

    #pic2{
        height: 200px;
        width: 200px;
    }
    ion-icon{
       display: none;
    }
   
     #description{
        font-size: small;
        opacity: 1;
        margin-left: 0.5rem;
    }
}
.wishlist-item .descPrice{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    align-items: center;
}
.wishlist-item #addItemBtn{
    align-items: center;
    padding: 2px 10px;
    margin-right: 1rem;
}
.wishlist-item .add-to-card{
    display: none;
}

.cart-item .add-to-card{
    display: none;
}
.cart-item button{
    text-align: center;
    padding: 2px 10px;
    margin-top: 11rem;
    margin-left: -8rem;
}
.cart-div #addItemBtn{
    display: none;
}
.cart-div #removeButton{
    text-align: center;
    padding: 2px 10px;
    margin-top: 11rem;
    margin-left: -8rem;
    margin-right: 5rem;
}

.buttonContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2rem;
    padding: 2px 10px;
    margin-top: 10rem;
    margin-left: -14rem;
}

/*MEDIA BREAKPOINTS HOME PAGE*/

@media (max-width:1400px){
    .subnav .line{
        left: 30%;
    }
    .sidebar-container .Bar{
        width: 20%;
    }
    .template img {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 300px;
        height: 300px;
    }
}

@media (max-width:1300px){
    .subnav .line{
        left: 26%;
    }
    .video-loop{
        max-width: 100%;
     }
     .more-info{
         top: 15rem;
         margin-left: 8rem;
     }
    
    .inputArea ion-icon{
       margin-right: 2rem;
    }
}

@media (max-width:1234px){
    .logo img {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        max-width: 12rem;
    }
    nav ul {
        padding: 0px 0px ;
    }
    
    nav li a {
        font-size: 14px;
    }
    .subnav .line{
        left: 25%;
    }
    .cart{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 5px 8px;
        margin-right: 1rem;
    }
    .user,
    .like{
    font-size: 1.2rem;
    }
    .bag{
        font-size: 1.1rem;
    }
    .bnt1{
        font-size: 1.1rem;
    }
    .search{
        padding: 5px 10px; 
        margin-bottom: 0.2rem;
    }
    .search:hover input{
        width: 100px;
    }
    .template img {
        width: 250px;
        height: 250px;
    }
    .inputArea ion-icon{
        margin-right: 4rem;
     }
}

@media (max-width:1210px){
    .in ion-icon{
       margin-left: 24rem;
    }
}

@media (max-width:1170px){
    .inputArea ion-icon{
        margin-right: 7rem;
     }
}

@media (max-width:1060px){
    .inputArea ion-icon{
        margin-right: 9rem;
     }
}

@media (max-width:1030px){
    .template img {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 200px;
        height: 200px;
    }
}
 
@media (max-width:1000px){

    .productsPic img {
        display: flex;
        margin-left: 7rem;
        width: 100%;
        height: 500px;
        position: relative;
    }
    .subnav .line{
        left: 24%;
        height: 20%;
    }
}

@media (max-width: 992px){
    .info-box,
    .info-box p{
        display: none;
    }
    .loginPic img{
        height: 500px;
    }
    .sidebar-container .Bar{
        width: 30%;
        background-color: #fff;
    }
    .form-box{
        background-color: #fff;
    }
    .humburgerIcon{
        visibility: visible;
        margin-right: 1rem;
    }
    .close{
        top: 0rem;
    }
    .content{
        visibility: hidden;
    }

    nav ul {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content:space-evenly;
        align-items: center;
        padding: 0;
        max-width: 30%;
        height: 80vh;
        left: 0;
        right: 0;
        top: 100%;
        background-color: #fff;
        list-style: none;

        }
        .subnav{
            flex-direction: row;
            width: 0;
            height: 100%;
            transition: width 0.3s ease-in-out;

        }
        .subnav ul{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            height: auto;
            top: 0;
            margin-right: 25rem;
            margin-top: 3rem;
            position: relative;
        }
        nav ul li:hover .subnav {
            overflow: hidden;
            background-color: #fff;
            flex-direction: column;
            top: 0;
            left: 100%;
            width: 700px;
            height: 100%;
        }

        nav ul li:hover .subnav ul li{
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            height: auto;
            padding: 5px;
            margin-top: 0;
        }

        .productsPic img {
            display: flex;
            margin-left: 0rem;
            width: 70%;
            height: 590px;
            top: 0;
            position: absolute;
        }

         .subnav .line{
            visibility: hidden;
        } 

        .subnav ul li a{
            max-width: 100%;
            height: auto;
            padding: 10px 5px;
         }
         nav ul li:hover .forwardSign{
            visibility: visible;
        }
        nav ul li:hover .SignWeeding{
            visibility: visible;
        }
         .video-loop{
           max-width: 100%;
        }
        .more-info{
            top: 10rem;
            margin-left: 8rem;
        }
        .inputArea ion-icon{
            margin-right: 10rem;
         }
}
@media (max-width:950px){
    .about li{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .inputArea span{
        margin-right: 1rem;
    }
    .inputArea ion-icon{
        margin-right: 11rem;
     }
}

@media (max-width:920px){
    .inputArea ion-icon{
        margin-right: 12rem;
     }
    .productsPic img {
        margin-left: 0rem;
        width: 50%;
    }
}

@media (max-width:880px){
    .in{
        width: 70%; 
    }
    .inputArea{
        width: 70%;
    }
    .inputArea ion-icon{
        margin-left: 47rem;
     }
    .inputArea span{
        margin-left: 19rem;
        width: 100%;
    }
    .btn-{
        width: 70%;
    }
    .loginPic img{
        display: none;  
    }
   
}

@media (max-width:840px){
    .template img {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 180px;
        height: 180px;
    }
    .inputArea ion-icon{
        margin-left: 45rem;
     }
    

}

@media (max-width:820px){
    .productsPic img {
        margin-left: 0rem;
        width: 40%;
    }
}

@media (max-width: 790px){
    .in{
        width: 80%; 
    }
    .inputArea{
        width: 80%;
    }
    .btn-{
        width: 80%;
    }
    .inputArea ion-icon{
        margin-left: 49rem;
     }
    .inputArea span{
        margin-left: 13rem;
        width: 100%;
    }
}

@media (max-width: 768px){
    .sidebar-container .Bar{
        width: 40%;
    }
    .article img{
        max-width: 50%;
    }
    .more-info{
        top: 5rem;
        margin-left: 5rem;
    }
    .parag p {
        width: 20rem;
        margin-top: 1rem;
        font-size: 12px;
    }
    nav ul li:hover .subnav {
        overflow: hidden;
        background-color: #fff;
        flex-direction: column;
        top: 0;
        left: 100%;
        width: 600px;
        height: 100%;
    }
    nav ul li:hover .SignWeeding{
        width: 10%;
    }
    .info-area p{
        font-size: 15px;
    }
    .info-area h1{
        font-size: medium;
    
    }
    .form-box h1 {
        font-size: medium;
        margin-top: 1rem;
    }
    input {
        padding: 10px 25px;
        font-size: 15px;
    }
    
    .template img {
        width: 160px;
        height: 160px;
    }
    .Gift-area{
        height: 400px;
    }
    .Gift-area img{
        width: 100%;
        height: 400px;
    }
    .info p{
        padding: 10px;
      font-size: 13px;
      text-align: center;

    }
    .info h1{
        font-size: small;
        margin-bottom: 1rem;
    }
    
    .info button{
        font-size: 15px;
        padding: 5px 15px;
        border-radius: 10px;
        margin-top: 1rem;
    }
    footer img {
        width: 7rem;
    }
    .about a{
        font-size: 14px;
    }
    .about li{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .inputArea ion-icon{
        margin-left: 47rem;
     }
   
}
@media (max-width: 740px){
    .sectionTwo {
        display: flex;
        flex-direction: column;
    }
    .template img {
        width: 340px;
        height: 340px;
    }
    
    .template a{
        margin-bottom: 1rem;
    }
    .more-info{
        font-size: 15px;
    }
    .in{
        width: 90%; 
    }
    .inputArea{
        width: 90%;
    }
    .inputArea ion-icon{
        margin-left: 50rem;
     }
    .inputArea span{
        margin-left: 7rem;
        width: 100%;
    }
    .btn-{
        width: 90%;
    }
   
}
@media (max-width: 727px){
    .template img {
        width: 300px;
        height: 300px;
    }
    nav ul {
        padding: 5px 5px ;
    }
    
}

@media (max-width: 692px){
    .about li{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    .inputArea ion-icon{
        margin-right: 15rem;
     }
    .inputArea span{
        margin-left: 7rem;
        width: 100%;
    }
}

@media (max-width: 662px){
    .inputArea ion-icon{
        margin-right: 16rem;
     }
}

@media (max-width: 647px){
     .template img {
        width: 270px;
        height: 270px;
    }
    .social li {
        font-size: 1.5rem;
    }
    .more-info button{
        width: 25%;
        }
    .productsPic img {
          display: none;
        }
    .subnav ul{
            justify-content: center;
            margin-right: 20rem;
            margin-top: 3rem;
            position: relative;
        }
    nav ul li:hover .subnav {
            overflow: hidden;
            background-color: #fff;
            flex-direction: column;
            top: 0;
            left: 100%;
            width: 700px;
            height: 100%;
        }

        nav ul li:hover .subnav ul li{
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            height: auto;
            padding: 5px;
            margin-top: 0;
        }
        nav ul {
            max-width: 40%;
        }
        .inputArea ion-icon{
            margin-right: 17rem;
         }
}

@media (max-width: 620px){
    .inputArea ion-icon{
        margin-right: 18rem;
     }
}

@media (max-width: 595px){
    .sidebar-container .Bar{
        width: 100%;
    }

    .contactArea{
        flex-direction: column;
    }
    .about li{
        display: flex;
        justify-content: center;
        margin-top: 0rem;
    }

    .template img {
        width: 250px;
        height: 250px;
    }
    .more-info{
        font-size: 13px;
        margin-top: 0.5rem;
        margin-left: 2rem;
    }
    .inputArea ion-icon{
        margin-right: 19rem;
     }
}

@media (max-width: 570px){
    .inputArea ion-icon{
        margin-right: 20rem;
     }

    .article img{
        max-width: 50%;
        height: 500px;
    }
    .info {
        padding: 15px;
    
    }
    .template img {
        width: 200px;
        height: 200px;
    }
    .Heading button{
        width: 30%;
    }
}

@media (max-width: 550px){
    .inputArea ion-icon{
        margin-right: 23rem;
     }
}

@media (max-width: 500px){
    .option {
        width: 90%;
    }
    .subnav ul{
        margin-right: 12rem;
    }
    nav ul {
        max-width: 50%;
    }
    nav ul li:hover .subnav {
        width: 400px;
    }
    nav ul li:hover .SignWeeding{
        width: 20%;
    }
    .point{
        top: 0;
        left: 1rem;
    }
    .Heading{
        margin-top: 3rem;
    }
    
    .Heading h1{
        font-size: 18px;
    }
    
    .Heading p{
        width: 100%;
        font-size: 13px;
    }
   
    .more-info{
        max-width: 100%;
        bottom: 4rem;
    }
    .inputArea ion-icon{
        margin-right: 24rem;
     }
}

@media (max-width: 480px){
    .inputArea ion-icon{
        margin-right: 25rem;
     }
    nav ul li:hover .SignWeeding{
        width: 10%;
    }

}
@media (max-width: 470px){
    .inputArea ion-icon{
        margin-right: 27rem;
     }
}


@media (max-width: 431px){
        .inputArea ion-icon{
            margin-right: 28rem;
         }
    .search:hover input{
        width: 100px;
    }
    .search input{
        padding: 2px 5px;
    }
    .Heading h1{
        font-size: 15px;
    }
    .article img{
        max-width: 50%;
        height: 500px;
    }
    .info {
        height: 500px;
        padding: 0px;
    }
    .TwoIn1{
        display: flex;
        flex-direction: column;
    }
    .template img {
        width: 200px;
        height: 200px;
    }
    .Gift-area img{
        width: 50%;
        height: 400px;
    }
    nav ul {
        height: 80vh;
    }
    .subnav ul{
        margin-right: 8rem;
    }
    .subnav ul li{
        padding: 2px;
    }
    .subnav ul li a{
        font-size: small;
    }
    .subnav h1{
        font-size: small;
    }
   
    nav ul li:hover .subnav {
        width: 300px;
    }
}

@media (max-width: 400px){
    .logo img {
        max-width: 10rem;
    }
    .humburgerIcon{
        font-size: 25px;
    }
    .user,
    .like{
        margin-right: 0.5rem;
        font-size: 1.1rem;
    }
    .bag{
        font-size: 1rem;
    }
    .bag::before{
        width: 70%; 
        height: 29%; 
    }
    .inputArea ion-icon{
        margin-right: 29rem;
    }
    .inputArea span{
        margin-left: 5rem;
    }
}

@media (max-width: 413px){

    .social li {
        font-size: 1.5rem;
        margin-right: 0.5rem;
    }
}

@media (max-width: 391px){
  
    .article img{
        max-width: 50%;
        height: 500px;
    }
    .info {
        height: 500px;
        padding: 0px;
    }
    .info p{
        font-size: 10px;
        padding: 15px;
    }
    .info button{
        padding: 2px 10px;
        font-size: small;
    }
    .Heading button{
        font-size: small;
    }
    .Heading p{
        width: 90%;
    }
    nav ul {
        height: 80vh;
    }
    .inputArea ion-icon{
        margin-right: 30rem;
    }
    .inputArea span{
        margin-left: 4rem;
    }
   
}

@media (max-width: 379px){
    nav ul li{
        padding: 5px;
    }
    .inputArea ion-icon{
        margin-right: 32rem;
    }
   
}

@media (max-width: 370px){
    .in ion-icon{
        margin-left: 19rem;
    }
    nav ul {
        height: 90vh;
    }
    .subnav ul{
        margin-top: 1rem;
    }
    nav ul li:hover .subnav ul li{
        padding: 2px;
    }
}

@media (max-width: 360px){
    .logo img {
        max-width: 9rem;
    }
    .humburgerIcon{
        font-size: 23px;
    }
    .more-info p{
        font-size: 10px;
        opacity: 1;
    }
    .more-info button{
        font-size: small;
        margin-bottom: 1.5rem;
        width: 30%;
    }
   
}



/*bracelets page's break points */

@media (max-width: 1400px){
    .wishlist-item,
    .cart-item{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 230px;
    }
    .wishlist-item #pic2,
    .cart-item #pic2{
        height: 130px;
        width: 130px;
    }
    .wishlist-item,
    .cart-item .descPrice{
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
        font-size: small;
        align-items: center;
    }

    .buttonContainer{
        flex-direction: column;
        width: 100%;
        margin-top: 0.5rem;
        margin-left: 1rem;
    }
    .cart-item button{
        margin-top: 0.5rem;
        margin-left: 0rem;
    }
    .cart-div #removeButton{
        margin-top: -2rem;
        margin-left: 3rem;
        margin-right: 3rem;
    }
    #pic2{
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 1280px){
    #pic2{
        width: 280px;
        height: 280px;
    }
}

@media (max-width: 1150px){
    #pic2{
        width: 260px;
        height: 260px;
    }
}

@media (max-width: 1050px){
    #pic2{
        width: 230px;
        height: 230px;
    }
    .descPrice{
        font-size: 14px;
        width: 90%;
    }
}

@media (max-width: 992px){
    .heart-icon{
        margin-top: 0.3rem;
        margin-right: 0.3rem;
    }
}

@media (max-width: 950px){
    #pic2{
        width: 220px;
        height: 220px;
    }
    .descPrice{
        font-size: 13px;
    }
    
    .item1 button{
        padding: 2px 5px;
    }
}

@media (max-width: 900px){
    #pic2{
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 830px){
    #pic2{
        width: 180px;
        height: 180px;
    }
    .descPrice{
        font-size: 12px;
    }
    .msg-alert{
        width: 40%;
        z-index: 1;
    }
    .check-icon{
        font-size: 100px;
    }
}

@media (max-width: 768px){
    .heart-icon{
        font-size: 20px;
        margin-top: 0.3rem;
        margin-right: 0.3rem;
    }
    .item1 p{
        font-size: 13px;
    }
    
    .item1 button{
        padding: 2px 5px;
    }
    .Cover-area img{
        height: 400px;
    }
    .info-area{
        padding: 10px;
    }
}

@media (max-width: 750px){
    #pic2{
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 650px){
    #pic2{
        width: 130px;
        height: 130px;
    }
    .msg-alert{
        width: 50%;
        height: 150px;
        z-index: 1;
    }
}

@media (max-width: 576px){
    .cart-item button{
        margin-right: 3rem;
    }
    .wishlist-item #pic2,
    .cart-item #pic2{
        height: 150px;
        width: 150px;
    }
    .info-area{
        padding: 5px;
    }
    .heart-icon{
        font-size: 25px;
        margin-top: 1.3rem;
    }
    #pic2{
        margin-top: 1rem;
        width: 250px;
        height: 250px;
    }
    .cart-item{
        height: 250px;
    }
    .cart-item button{
        margin-top: 0.5rem;
        width: 15%;
        margin-left: 2rem;
    }
    .cart-div #removeButton{
        margin-left: 1rem;
        margin-right: 2rem;
    }
    .descPrice{
        margin-right: 1rem;
    }
    .Div1,
    .Div2,
    .Div3{
        flex-direction: column;
    }
    .item1{
        backdrop-filter: blur(7px) ;
        background-color: rgba(255, 255, 255, 0.20);
        box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.1); 
        margin-bottom: 1rem;
        flex-direction: column;
        width: 100%;
        margin-bottom: 3rem;
    }
}

@media (max-width: 520px){
    .descPrice{
        margin-right: 1rem;
    }
}

@media (max-width: 490px){
    .info-area{
        padding: 5px;
    }
    .Cover-area img{
        height: 300px;
    }
    .info-area p{
        font-size: 13px;
    }
    #pic2{
        width: 220px;
        height: 220px;
    }
    .descPrice{
        font-size: 14px;
        width: 70%;
        margin-right: 0;
    }
    .cart-item button{
        margin-top: 0.5rem;
        margin-left: 3rem;
    }
    .cart-div #removeButton{
        margin-left: 0rem;
        margin-right: 0rem;
    }
}

@media (max-width: 400px){
    .Cover-area img{
        height: 200px;
    }
    .info-area p{
        font-size: 10px;
    }
    #pic2{
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 360px){
    #pic2{
        width: 180px;
        height: 180px;
    }
    .descPrice{
        font-size: 14px;
        margin-right: 0;
    }
    .cart-item button{
        width: 20%;
    }
}






